{% extends 'base.html' %}

{% load staticfiles %}

{% block title %}Archivo | Proyectos | {{ object.name }}{% endblock %}

{% block heading %}
    <h2>{{ object.name }}</h2>
{% endblock %}

{% block content %}
    <p><strong>Curso:</strong> {{ object.course }}</p>
    <p><strong>Tutor:</strong> {{ object.tutor }}</p><br/>

    <p>{{ object.description }}</p>
    <p><a href="/media/{{ object.report }}">{{ object.report.name }}</a></p>

    <h4>Estudiantes participantes</h4>
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Nombre</th>
            <th>Apellidos</th>
            <th>Calificación</th>
            <th>Informe del estudiante</th>
            <th>Informe del tutor</th>
        </tr>
        </thead>

        <tbody>
        {% for part in participations %}
            <tr>
                <td>{{ part.reg_student.student.user.first_name }}</td>
                <td>{{ part.reg_student.student.user.last_name }}</td>
                <td>{{ part.grade }}</td>
                <td><a href="/media/{{ part.report }}">{{ part.report.name }}</a></td>
                <td><a href="/media/{{ part.tutor_report }}">{{ part.tutor_report.name }}</a></td>
            </tr>
        {% endfor %}
        </tbody>
    </table><br/>

    <a class="btn btn-primary" href="{% url 'archive-projects' %}" role="button">Volver al archivo</a>
{% endblock %}
