{% extends 'base.html' %}

{% load staticfiles %}
{% load bootstrap3 %}

{% block title %}Asignación de Proyectos{% endblock %}

{% block heading %}
    <h2>Asignación de proyectos de {{ year }}º año ({{ course }})</h2>
{% endblock %}

{% block content %}
    <form action="" method="post">
        {% csrf_token %}
        <table class="table">
            <thead>
            <tr>
                <th>Nombre</th>
                <th>Apellidos</th>
                <th>Grupo</th>
                <th>Proyecto</th>
                <th>Calificación</th>
            </tr>
            </thead>


            <tbody>
            {% for form,reg_student in tuples %}
                <tr>
                    <td>{{ reg_student.student.user.first_name }}</td>
                    <td>{{ reg_student.student.user.last_name }}</td>
                    <td>{{ reg_student.group }}</td>
                    <td>
                        {#                        {% bootstrap_messages form.project.errors %}#}
                        {#                        {% bootstrap_field form.project %}#}
                        {{ form.project }}
                    </td>
                    <td>
                        {% bootstrap_messages form.grade.errors %}
                        {#                        {% bootstrap_field form.grade %}#}
                        {{ form.grade }}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        {% buttons %}
            <button type="submit" class="btn btn-primary">Guardar cambios</button>
            <a class="btn btn-default" href="{% url 'index' %}" role="button">Volver</a>
        {% endbuttons %}
    </form>
{% endblock %}