{% extends 'base.html' %}

{% load staticfiles %}

{% block title %}Proyectos disponibles{% endblock %}

{% block heading %}
    <h2>Proyectos disponibles para {{ user.get_full_name }}</h2>
{% endblock %}

{% block content %}
    {% if available_projects %}
        <p>
        <h4>Proyectos solicitables:</h4>
        <ul>
            {% for project in available_projects %}
                <li><a href="{% url 'project-detail' project.slug %}">{{ project.name }}</a></li>
            {% endfor %}
        </ul>
        </p>
    {% else %}
        No existen proyectos solicitables para usted en este momento.
    {% endif %}

    {% if requested_projects %}
        <p>
        <h4>Proyectos solicitados:</h4>
        <ol>
            {% for req in requested_projects %}
                <li value="{{ req.priority }}"><a
                        href="{% url 'project-detail' req.project.slug %}">{{ req.project.name }}</a></li>
            {% endfor %}
        </ol>
        </p>
    {% endif %}
{% endblock %}