{% extends 'base.html' %}

{% load staticfiles %}\
{% load bootstrap3 %}

{% block title %}Proyectos | Crear nuevo proyecto{% endblock %}

{% block content %}
    <form action="" method="post">
        {% csrf_token %}
        {% bootstrap_form form %}
        {% buttons %}
            <button type="submit" class="btn btn-primary">Crear proyecto</button>
            {#            <a class="btn btn-default" href="{% url 'projects' %}" role="button">Volver al listado</a>#}
        {% endbuttons %}
    </form>
{% endblock %}