{% extends 'base.html' %}

{% load staticfiles %}

{% block title %}Evaluar participación{% endblock %}

{% block heading %}
    <h2>Evaluar participación de {{ participation.reg_student.student }} en {{ participation.project }}</h2>
{% endblock %}

{% block content %}
    {% for form in forms %}
        {{ form.non_field_errors }}
        <div class="fieldWrapper">
            {{ form.grade.errors }}
            {#        <label for="{{ form.grade.id_for_label }}">Calificación:</label>#}
            {{ form.grade.label_tag }}
            {{ form.grade }}
        </div>
        <div class="fieldWrapper">
            {{ form.tutor_report.errors }}
            <label for="{{ form.tutor_report.id_for_label }}">Informe del tutor::</label>
            {{ form.tutor_report }}
        </div>
    {% endfor %}
{% endblock %}