{% extends 'base.html' %}

{% load staticfiles %}
{% load bootstrap3 %}

{% block title %}Evaluar participación{% endblock %}

{% block heading %}
    <h2>Evaluar participaciones en {{ project }}</h2>
{% endblock %}

{% block content %}
    <form action="" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <table class="table">
            <thead>
            <tr>
                <th>Nombre</th>
                <th>Apellidos</th>
                <th>Grupo</th>
                <th>Calificación propuesta</th>
                <th>Informe</th>
                <th>Informe del tutor</th>
            </tr>
            </thead>

            <tbody>
            {% for form, participation in tuples %}
                <tr>
                    <td>{{ participation.reg_student.student.user.first_name }}</td>
                    <td>{{ participation.reg_student.student.user.last_name }}</td>
                    <td>{{ participation.reg_student.group }}</td>
                    <td>
                        {{ form.proposed_grade.errors }}
                        {{ form.proposed_grade }}
                    </td>
                    <td><a href="/media/{{ participation.report }}">...{{ participation.report.name|slice:"-15:" }}</a>
                    </td>
                    <td>
                        {{ form.tutor_report.errors }}
                        {{ form.tutor_report }}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>

        {% buttons %}
            <button type="submit" class="btn btn-primary">Guardar cambios</button>
            <a class="btn btn-default" href="{% url 'index' %}" role="button">Volver</a>
        {% endbuttons %}
    </form>
{% endblock %}