{% extends 'base.html' %}

{% load staticfiles %}

{% block title %}Bienvenido{% endblock %}

{% block heading %}
    <div class="jumbotron">
        <h1>Bienvenido</h1>

        <p class="lead">
            {{ user.first_name }},<br/>
            {% if days_until %}
                resta(n) <strong>{{ days_until }} día(s)</strong> para el comienzo de las Prácticas de Producción.
            {% elif days_left %}
                queda(n) <strong>{{ days_left }} día(s)</strong> para que concluyan las Prácticas de Producción.
            {% else %}
                las Prácticas de Producción concluyeron hace <strong>{{ days_after }} día(s)</strong>.<br/>
                Tu calificación final es de <h2>{{ grade }} puntos</h2>
            {% endif %}
        </p>

        <p><a class="btn btn-lg btn-success" href="#" role="button">Sign up today</a></p>
    </div>
{% endblock %}

{% block content %}
    {% if user.is_superuser %}
        OMG you are superuser!!! Guess my lord...
    {% elif 'practicas.student_permissions' in perms %}
        Eres un estudiante!!!
        {% if days_until %}
            <p>
                Las Prácticas están por comenzar. Entra <a href="{% url 'projects-available' %}">aquí</a> para elegir en
                qué proyectos te gustaría participar.
            </p>
        {% endif %}
        {% if days_left %}
            <p>
                <!--TODO: Buscar que poner para que aparezca un boton para subir el archivo-->
                ¿Has terminado tu proyecto de prácticas? Entra aquí para subir tu informe.
            </p>
        {% endif %}
    {% elif 'practicas.tutor_permissions' in perms %}
        Usted es un tutor!!!
        {% if days_until %}
            <p>
                Las Prácticas están por comenzar. Entre <a href="/admin/practicas/project/">aquí</a> si desea gestionar
                su lista de proyectos.
            </p>
        {% elif days_left %}
            <p>
                Usted es tutor de los siguientes proyectos:
            <ul>
                {% for project in tutor_projects %}
                    <a href="{% url 'participations-evaluate' project.slug %}">
                        <li> {{ project.name }}</li>
                    </a>
                {% endfor %}
            </ul>
            Seleccione un proyecto si desea evaluar a los estudiantes participantes.
            </p>
        {% endif %}
    {% endif %}
{% endblock %}