{% extends 'base.html' %}

{% load staticfiles %}

{% block title %}Proyecto | {{ object.name }}{% endblock %}

{% block heading %}
    <h2>{{ object.name }}</h2>
{% endblock %}

{% block content %}
    <p><strong>Curso:</strong> {{ object.course }}</p>
    <p><strong>Tutor:</strong> {{ object.tutor }}</p><br/>

    <p>{{ object.description }}</p>
    {% if not request %}
        <a class="btn btn-primary" href="{% url 'request' object.slug %}" role="button">Solicitar</a>
    {% elif not request.checked %}
        <a class="btn btn-primary" href="{% url 'request-remove' object.slug %}" role="button">Cancelar solicitud</a>
    {% else %}
        Su solicitud ha sido validada por el tutor del proyecto. Por favor, comuníquese con este si desea cancelarla.
    {% endif %}
{% endblock %}